@import "../../index.scss";

.nav {
    background: $mainBlack;
    padding: .5rem 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
}
img {
    display: block;
    margin-right: 2rem;
}
.nav-links {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    list-style: none;
}
.nav-link {
    color: $mainGrey;
    font-size: 1.2rem;
    text-decoration: none;
    transition: all .3s linear;
    &:hover {
        color: $mainGreen;
    }
}
.nav-link.active{
    color: $mainGreen;
}