@import "../../../index.scss";

.tour {
    background: $mainGrey;
    margin: 1rem 0;
    border-radius: .8rem;
    img {
        width: 100%;
        border-top-left-radius: .8rem;
        border-top-right-radius: .8rem;
        display: block;
    }

}
.img-container {
    position: relative;
}
.close {
    position: absolute;
    display: block;
    top: 5%;
    right: 5%;
    font-size: 2rem;
    color: $mainGreen;
    cursor: pointer;
    opacity: 0;
    transition: all .3s linear;
}
.img-container:hover .close {
    opacity: 1;
}
.tour-info {
    padding: 1rem .5rem;

    h3 {
        text-transform: uppercase;
        color: $mainGreen;
    }
    h4 {
        color: $mainBlack;
        margin: .2rem 0 .6rem 0;
    }
}
h5 span {
    font-size: 1.2rem;
    cursor: pointer;
    margin: .5rem;
    color: $mainGreen;
}